

on: 
  pull_request:
    paths-ignore:
      - 'misc/**'

name: Check Pull Requests

jobs:

  rcmdcheck:

    strategy:
      fail-fast: true
      matrix:
       config:
         - { image: "ghcr.io/${{ github.repository_owner }}/rbmi:r404"}
         - { image: "ghcr.io/${{ github.repository_owner }}/rbmi:r410"}

    runs-on: ubuntu-latest

    container:
      image: ${{ matrix.config.image }}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_TEST_NIGHTLY: 'FALSE'

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
        
      - name: Build src
        uses: ./.github/actions/build-src
      
      
      - name: Check
        run: |
          options(crayon.enabled = TRUE)
          rcmdcheck::rcmdcheck(args = c("--no-manual", "--as-cran"), error_on = "warning")
        shell: Rscript {0}

