

on:
  pull_request:
    paths-ignore:
      - 'misc/**'
    branches:
      - main

name: On Pull Request

jobs:

  rcmdcheck:

    strategy:
      fail-fast: true
      matrix:
       config:
         - { image: "ghcr.io/${{ github.repository_owner }}/rbmi:r404"}
         - { image: "ghcr.io/${{ github.repository_owner }}/rbmi:r410"}
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.config.image }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_TEST_FULL: 'FALSE'
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build src
        uses: ./.github/actions/build-src

      - name: Check
        uses: ./.github/actions/rcmdcheck
        with:
          slim: true


  vignettes:
    strategy:
      fail-fast: true
      matrix:
       config:
         - { image: "ghcr.io/${{ github.repository_owner }}/rbmi:r404"}
         - { image: "ghcr.io/${{ github.repository_owner }}/rbmi:r410"}
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.config.image }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Build src
        uses: ./.github/actions/build-src
      
      - name: Build Vignettes
        run: |
          Rscript ./vignettes/build.R
